<!-- hasil kerja pembuatan css header dan footer by A07_Fazar -->
/*Tambahkan beberapa padding pada badan dokumen untuk mencegah konten
     untuk pergi di bawah header dan footer */
    body{        
        padding-top: 60px;
        padding-bottom: 40px;
    }
    .container{
        width: 80%;
        margin: 0 auto; /* Pusatkan DIV secara horizontal */
    }
    .fixed-header, .fixed-footer{
        width: 100%;
        position: fixed;        
        background: #333;
        padding: 10px 0;
        color: #fff;
    }
    .fixed-header{
        top: 0;
    }
    .fixed-footer{
        bottom: 0;
    }    
    /*Beberapa gaya lagi untuk memperbaiki */
    nav a{
        color: #fff;
        text-decoration: none;
        padding: 7px 25px;
        display: inline-block;
    }
    .container p{
        line-height: 200px; /* Buat bilah gulir untuk menguji pemosisian */
    }
.top-wrapper {
    padding: 100px 80px;
}
<!-- hasil kerja pembuatan css TOP by A07_Eveline -->
.top-wrapper {
    padding-top: 180px;
    padding-bottom: 150px;
    background-image: url(./images/background.jpg);
    background-size: cover;  
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
}

.top-wrapper h1 {
    color: rgb(185, 255, 255);
    font-style: normal;
    font-weight: bold; 
    font-size: 300%;
    margin-bottom: 30px;
}

.top-wrapper p {
    padding: 10px 90px 0;
    color: white;
    margin-bottom: 3px;
    font-style: oblique;
    font-size: 100%;
    font-weight: bold;
}
