<!-- hasil kerja pembuatan css header dan footer by A07_Fazar -->
/*Tambahkan beberapa padding pada badan dokumen untuk mencegah konten
     untuk pergi di bawah header dan footer */
    body{        
        padding-top: 60px;
        padding-bottom: 40px;
    }
  
    .fixed-header, .fixed-footer{
        width: 100%;
        position: fixed;        
        background: #333;
        padding: 10px 0;
        color: #fff;
    }
    .fixed-header{
        top: 0;
    }
    .fixed-footer{
        bottom: 0;
    }    
    /*Beberapa gaya lagi untuk memperbaiki */
    nav a{
        color: #fff;
        text-decoration: none;
        padding: 7px 25px;
        display: inline-block;
    }
    .container p{
        line-height: 200px; /* Buat bilah gulir untuk menguji pemosisian */
    }
.top-wrapper {
    padding: 100px 80px;
}
<!-- hasil kerja pembuatan css TOP by A07_Eveline -->
.top-wrapper {
    padding-top: 180px;
    padding-bottom: 150px;
    background-image: url(./images/background.jpg);
    background-size: cover;  
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
}

.top-wrapper h1 {
    color: rgb(185, 255, 255);
    font-style: normal;
    font-weight: bold; 
    font-size: 300%;
    margin-bottom: 30px;
}

.top-wrapper p {
    padding: 10px 90px 0;
    color: white;
    margin-bottom: 3px;
    font-style: oblique;
    font-size: 100%;
    font-weight: bold;
}
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&display=swap");
* {
  margin: 0;
  padding: 0;
}

<!-- hasil kerja pembuatan css lesson by A07_Haikal -->
body {
  font-family: sans-serif;
  font-size: 18px;
}

.lessons {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  background-image: url(img/background-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.lessons .card {
  width: 300px;
  height: 400px;
  line-height: 1.5;
  color: #fff;
  display: flex;
  border-radius: 2px;
  margin: auto;
  transition: all 0.5s;
}

.card {
  background-image: url(img/argo-1.jpg); /* background image card pertama */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 200px;
  height: 300px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
  border-radius: 8px;
}

.card h1 {
  font-size: 30px;
  font-family: "Lobster Two", cursive;
}

.card p {
  font-size: 14px;
}

.card .btn {
  outline: none;
  border: none;
  padding: 5px 10px;
  background: transparent;
  cursor: pointer;
  color: #fff;
  margin: 10px 0 20px 0;
  border: 1px solid #fff;
  transition: all 0.5s;
}

.card .btn:hover {
  padding: 5px 20px;
}

.text {
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  transition: all 0.5s;
}

.text:hover {
  opacity: 1;
}

.card:hover {
  transform: translateY(20px);
}

/* menambahkan background image di card kedua */
.two {
  background-image: url(img/argo-2.jpg);
}

/* menambahkan background image di card ketiga */
.three {
  background-image: url(img/argo-3.jpg);
}

/* menambahkan background image di card keempat */
.four {
  background-image: url(img/argo-4.jpg);
}

.two p {
  width: 90%;
}

.three p {
  width: 90%;
}

.four p {
  width: 90%;
}
<!-- hasil kerja pembuatan  header dan footer by A07_Hamerton -->
.message-wrapper {
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .message {
    padding: 15px 40px;
    background-color: #5dca88;
    cursor: pointer;
    box-shadow: 0 7px #1a7940;
    border-radius: 4px;
    margin :10px 10px;
  }
  
  .message:active {
    position: relative;
    top: 7px;
    box-shadow: none;
  }


 .form input {
     width: 240px;
     height: 35px;
     background: transparent;
     border-bottom: 1px solid #eee;
     border-top: none;
     border-right: none;
     border-left: none;
     color: rgb(0, 0, 0);
     font-size: 15px;
     letter-spacing: 1px;
     margin-top: 1px;
     font-family: sans-serif;
 }

 .form h3 {
     font-size: 14px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     
 }
 .form input:focus {
     outline: none;
 }

 ::placeholder {
     color: rgb(133, 133, 133);
     font-family: Arial, Helvetica, sans-serif;
 }

 .form select {
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #eee;
    border-top: none;
    border-right: none;
    border-left: none;
    color: rgb(0, 0, 0);
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 1px;
    font-family: sans-serif;
}



