.top-wrapper {
    padding: 100px 80px;
}

.top-wrapper {
    padding-top: 180px;
    padding-bottom: 150px;
    background-image: url(./images/background.jpg);
    background-size: cover;  
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
}

.top-wrapper h1 {
    color: rgb(185, 255, 255);
    font-style: normal;
    font-weight: bold; 
    font-size: 300%;
    margin-bottom: 30px;
}

.top-wrapper p {
    padding: 10px 90px 0;
    color: white;
    margin-bottom: 3px;
    font-style: oblique;
    font-size: 100%;
    font-weight: bold;
}
